
.rebar
rebar
rebar.config.sample
*~
*.beam
deps/*
/deps/
/deps/*
log/
/log
/log/*
*.dump
erl_crash.dump
epg.config.sample
*.swp
ebin/
ebin/*
/ebin/
.idea/
*.iml
doc
.eunit
tags
.jira-url
/kerl
kerl
priv/
/priv/
Data/
in
out
/test/*
#rebar3 files
_build/
rebar.lock
rebar3.crashdump
