{erl_opts, [debug_info]}.
{deps, [
	{cowboy, "2.6.1"},
	{jsx, "3.0.0"},
	{lager, "3.8.1"},
	{gen_smtp, "1.0.1"},
	{erlcron, ".*", {git, "https://github.com/erlware/erlcron.git", {tag, "1.1.0"}}}
	]}.
{plugins, [rebar3_hex]}.

{shell, [
  % {config, "config/sys.config"},
	{config, "/home/prulov777/AAA_DEV/STUDY/ERLANG/cepb/env/cepb.config"}, % rebar3 shell --config something.config
    {apps, [cepb]}
]}.


%% rebar3 commands:
%% rebar3 new app myapp
%% rebar3 update
%% ~/.config/rebar3/rebar.config %% - here is global config rebar3 file
%% - Search for projects on hex.pm:
%% rebar3 hex search <project name>
%% rebar3 deps
%% rebar3 unlock
%% rebar3 clean
