[
	{cepb, 
		[
			{cepb_modules, 
				[
					{currency_exchange, []}
				]
			},

			{cache_ttl,
				[
					{currency_exchange, 60}
				]
			},

			{pb_urls, 
				[
					{currex, "https://api.privatbank.ua/p24api/pubinfo"}
				]
			},
			
			{cron_params,
				[
					{cepb_hw_printer, 
						[
							{text, "Hello World!"},
							{cron_time, {14, 53, 30}}
						]
					}
					, {cepb_emailer, 
						[
							{sender, "pvr8ptest@gmail.com"},
							{password, "QwazarD6PR*_"},
							{relay, "smtp.gmail.com"},
							{port, 465}, % 25 by default ???
							{ssl, true},
							{auth, always},
							{receivers, [ "prulovpr@outlook.com", "p.rulov@betinvest.com", "prulov.pr@gmail.com" ]},
							{cron_time, {14, 38, 45}},
							%{subject, "Cron_Task"}
							{subject, "Blocked_users_Report"}
						]
					}
				]
			}
		]
	}
].

%% application:stop(cepb).
